@model IList<PraiseUS.Models.Locataire>

@{
    <link rel="stylesheet" href="~/css/deleteLocataire.css" asp-append-version="true" />
}


<h3 class="delete-p">La fiche locataire à bien été supprimé.</h3>
