@model IList<PraiseUS.Models.Locataire>

<h1>Les Locataires</h1>

<p>Liste des Locataires</p>


@foreach (Locataire item in Model)
{
    <div>@item.nom</div>
    <div>@item.locataireId</div>
   
    <a asp-controller="IndexLocataire" asp-action="Delete" asp-route-ID="@item.locataireId" >Delete</a>
    <a asp-controller="EditLocataire" asp-action="Edit" asp-route-ID="@item.locataireId">Edit</a>

  
}

