@page
@model PraiseUS.Models.CreateModelLocataire

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>Locataire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Locataire.nom" class="control-label"></label>
                <input asp-for="Locataire.nom" class="form-control" />
                <span asp-validation-for="Locataire.nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locataire.prenom" class="control-label"></label>
                <input asp-for="Locataire.prenom" class="form-control" />
                <span asp-validation-for="Locataire.prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locataire.nationalite" class="control-label"></label>
                <input asp-for="Locataire.nationalite" class="form-control" />
                <span asp-validation-for="Locataire.nationalite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locataire.dateDeNaissance" class="control-label"></label>
                <input asp-for="Locataire.dateDeNaissance" class="form-control" />
                <span asp-validation-for="Locataire.dateDeNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locataire.inscriptionDate" class="control-label"></label>
                <input asp-for="Locataire.inscriptionDate" class="form-control" />
                <span asp-validation-for="Locataire.inscriptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
