@model PraiseUS.Models.Locataire

@{
    <link rel="stylesheet" href="~/css/update-locataire.css" asp-append-version="true" />
}


    <div class="body-login">
        <section>

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
       
        @*<p>Tests V2</p>*@
        
        @using (Html.BeginForm("Index", "CreateLocataire", FormMethod.Post, new { @class = "form-global" }))
        {
            <h1>Créer un locataire</h1>
            <div class="form-group">
                <label class="control-label">Nom</label>
                @Html.TextBoxFor(m => m.nom)
            </div>
            <div class="form-group">
                <label class="control-label">Prenom</label>
                @Html.TextBoxFor(m => m.prenom)
            </div>
            <div class="form-group">
                <label class="control-label">Nationalité</label>
                @Html.TextBoxFor(m => m.nationalite)
            </div>
            <div class="form-group">
                <label class="control-label">Date de Naissance</label>
                @Html.TextBoxFor(m => m.dateDeNaissance)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }

        </section>
    </div>
